{:paths ["src"]

 :deps {org.clojure/clojurescript {:mvn/version "1.10.893"}
        org.clojure/clojure {:mvn/version "1.10.3"}
        cheshire/cheshire {:mvn/version "5.10.1"}}

 :aliases
 {:bin
  {:extra-paths
   ["scripts"]
   :extra-deps
   {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}}}

  :repl
  {:main-opts ["-m" "nrepl.cmdline"]}

  :generate
  {:main-opts ["-m" "generate-lib"]}

  :release
  {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
   :main-opts  ["-m" "applied-science.deps-library"]}}}
